body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.title {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  height: 100px;
}

.current-time-container {
  display: flex;
  justify-content: center;
  font-size: 30px;
}
